{% extends "django_registration/base.html" %}
{% load bootstrap5 %}
{% load static %}


{% block styles %}
  {% bootstrap_css %}

  <!-- <link rel="stylesheet" href="{% static 'css/home.css' %}"> -->
{% endblock %}


{% block content %}



<a class='btn btn-default bg-warning' href="{% url 'neigh'%}">Add your Neighbourhood</a> <br>
{% for neigh in neighbour %}
    <!-- <img src="{{neigh.image.url}}" alt=""> -->
    {{neigh.neighbourhood_name}} 
    {{neigh.location}}
    {{neigh.occupants}}
    posted by{{neigh.admin}}
    {{neigh.date_posted}} <br>
{% endfor %}

</div>

{% endblock content %}
