{% extends "django_registration/base.html" %}
{% load bootstrap5 %}
{% load static %}


{% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %}



<a class='btn btn-default bg-warning text-center m-3' href="{% url 'neigh'%}">Add your Neighbourhood</a> <br>
<div class="container text-center">
    <div class="row my-4">
        {% for neigh in neighbour %}

    <div class="col-md-3 home m-3">
    <img src="{{neigh.image.url}}" alt="" width= 319rem> <br>
    <p>Neighbourhood: {{neigh.neighbourhood_name}}</p> 
    <p>Location: {{neigh.location}}</p>
    <p>Number of Occupants: {{neigh.occupants}}</p>
   <p> Posted by: {{neigh.admin}}</p>
   <p> Posted On: {{neigh.date_posted}} </p>
   <a class='btn btn-danger'href="{% url 'delete' neigh.id %}" target="_blank">Delete</a> </a>

</div>
        {% endfor %}

    </div>
</div>

</div>

{% endblock content %}
