{% extends "django_registration/base.html" %}
{% load bootstrap5 %}
{% load static %}


{% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %}

<div class="container">
 <div class="container row text-center ">
    <!-- <div class="col-md-3"></div> -->
    <div class="col-md-6">
        <h3 class="" >{{user}},Post your business here!</h3>

    <form action="{%url 'business'%}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
    
        {% bootstrap_form form%}
        <input type="submit" class="btn btn-primary btn-md" value="Post">
    </form>
    
    </div>

    <div class="col-md-6">
        <div class="container row my-4 ">
            {% for buss in business %}
            <div class=" buss m-3">
                <h4>Name: {{buss.name}}</h4>
                <p><h4>Description:</h4> {{buss.description}}</p>
                <p>Location:  {{buss.neighbourhood_name}}</p>
                <p>Contacts: {{buss.email}}</p>
        
                <a class='btn btn-danger'href="{% url 'delete' buss.id %}" target="_blank">Delete</a> </a>
        
            </div>
            {% endfor %}
        </div>
    </div>

 </div>






    



</div>





{% endblock content %}