{% extends "django_registration/base.html" %}
{% load bootstrap5 %}
{% load static %}


{% block styles %}
  {% bootstrap_css %}

  <!-- <link rel="stylesheet" href="{% static 'css/home.css' %}"> -->
{% endblock %}


{% block content %}



<a class='btn btn-default bg-warning' href="{% url 'neigh'%}">Add your Neighbourhood</a> <br>
<div class="container">
    <div class="row">
        {% for neigh in neighbour %}

    <div class="col-md-4">
    <img src="{{neigh.image.url}}" alt="" style="width: 122px;"> <br>
    <h4>Neighbourhood: {{neigh.neighbourhood_name}}</h4> 
    <h4>Location: {{neigh.location}}</h4>
    <h4>Number of Occupants: {{neigh.occupants}}</h4>
   <h4> Posted by: {{neigh.admin}}</h4>
   <h4> Posted On: {{neigh.date_posted}} </h4>
        </div>
     {% endfor %}

    </div>
</div>

</div>

{% endblock content %}