{% extends "django_registration/base.html" %}
{% load bootstrap5 %}
{% load static %}


{% block styles %}
  {% bootstrap_css %}

  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %}

<div class="container">
    <h3 class=" text-center" > Add Your Neighbourhood</h3>

<form action="{%url 'neigh'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    {% bootstrap_form form%}
    <input type="submit" class="btn btn-primary btn-md" value="Create Neighbourhood">
</form>
</div>

{% endblock content %}