{% extends "django_registration/base.html" %}
<!-- {% load bootstrap5 %} -->
{% load static %}


{% block styles %}
  {% bootstrap_css %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %}
<h3 class="" >Successsfully created/logged in as {{ user}}</h3>
<div class="container row">
    <div class="col-md-6">
        <form action="{%url 'profile'%}" method="post" enctype="multipart/form-data">
            {%csrf_token%}
        
            {% bootstrap_form form%}
            <input type="submit" class="btn btn-primary btn-md" value="Update">
        </form>
        
    </div>
    <div class="col-md-6">
        {% for prof in profile %}
        <div class="row">
            <div class=" col-md-6">
                <img src="{{prof.profile_picture.url}}" alt="img" width="140px" class="rounded-circle z-depth-2">

            </div>
            <div class=" col-md-6">
                <!-- {% for prof in profile %}
                    {{prof.name}} <br>
                    {{prof.your_id}}
                {% endfor %}
            </div> -->
            <p>Username: <br> {{user.username}}</p>
            <p>Name: <br> {{prof.name}}</p>
           <p> Your Id:<br>{{prof.national_identity_no}}</p>
            <p>Email: <br>{{user.email}}</h4> <br>
            <p>Bio:<br> {{prof.bio}}</p> <br>
            <p>Neighbourhood: <br>{{prof.neighbourhood_name}}</p> <br>
            
        </div>
        
    </div>
    {% endfor %}

</div>

<div class="container">
   







</div>





{% endblock content %}
