{% extends "django_registration/base.html" %}
{% load bootstrap5 %}
{% load static %}
{% block styles %}
{% bootstrap_css %}

{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    {% if neighbourhood %}
    <h2>Found {{ neighbourhood|length }} of searched term {{ message }}</h2>
    {% else %}
    <h2> Found 0 business for the search term {{ message }}</h2>
    {% endif %}

  </div>
  

  <div class="row">

    {% if business %}
    {% for p in business %}
    <div class="col-sm-6 col-md-3">
      <h1>{{p.name}}</h1>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}